@model SignInDto

@{
	ViewData["Title"] = "SignIn";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">

		<div asp-validation-summary="All" class="my-3 text-danger"></div>

		<form asp-action="SignIn">

			<input class="text email my-4" asp-for="Email" placeholder="Email" required="">
			<input class="text my-4" asp-for="Password" placeholder="Password" required="">
			<div class="wthree-text">
				<label class="anim">
					<input asp-for="RememberMe" class="checkbox">
					<span>Remember Me</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNIN">
		</form>
		@* Sign In With Google and facebook *@

		<div class="container d-flex my-4">
			<a asp-action="GoogleLogin" class="w-50 text-center text-white d-flex align-items-center justify-content-center">
				Sign In With Google
			</a>
			<a asp-action="FacebookLogin" class="w-50 text-center text-white d-flex align-items-center justify-content-center">
				Sign In With Facebook
			</a>
		</div>

		<p>Don't have an Account? <a asp-action="SignUp"> Register Now!</a></p>
		<p><a asp-action="ForgetPassword">Forgotten password?</a></p>
	</div>
</div>

@section ValidationSection {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

